<ion-content>
  <ion-infinite-scroll
    threshold="-50px"
    position="top"
    (ionInfinite)="onIonInfinite($event)"
    #infiniteScroll
  >
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading messages..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-col>
    <ion-list>
      @for(message of messagesService.messages2; track message.date){
      <ion-item><b>{{message.user}}: </b> {{message.text}}</ion-item>
      }
    </ion-list>
  </ion-col>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-col>
      <form (ngSubmit)="sendMessage()">
        <ion-row class="ion-margin ion-align-items-end">
          <ion-col class="ion-align-self-stretch">
            <ion-input
              id="name"
              type="text"
              [formControl]="messageInput"
              placeholder="Escribe..."
              fill="solid"
            />
          </ion-col>
          <ion-col size="auto">
            <ion-button
              (click)="sendMessage()"
              [disabled]="!messageInput.valid "
            >
              Send
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin">
          <ion-button color="danger" (click)="borrarMessages()">
            Borrar Chat
          </ion-button>
        </ion-row>
      </form>
    </ion-col>
  </ion-toolbar>
</ion-footer>
