<ion-content [scrollEvents]="true">
  <ion-infinite-scroll
    threshold="-10"
    position="top"
    class="ion-margin-top"
    [disabled]="disableInfiniteScroll"
    (ionInfinite)="onIonInfinite($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading messages..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-col>
    <ion-list>
      @for(message of messagesService.orderMessages(); track message.date){
      <ion-item>
        <b>{{message.user}} ({{message.location}}): </b>
        @if(!openEdit || dateEdit != message.date){
        {{message.text}}
        }
        <ion-chip
          (click)="openEditForm(message.date)"
          color="info"
          slot="end"
        >
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-chip>
        <ion-chip
          (click)="deleteOneMessage(message.date)"
          color="danger"
          slot="end"
        >
          <ion-label> X </ion-label>
        </ion-chip>
        @if(openEdit && dateEdit == message.date){
        <form>
          <ion-item>
            <ion-input
              type="text"
              [value]="message.text"
              #editMessage
            ></ion-input>
          </ion-item>
          <ion-button
            (click)="modifyMessage(message.date, editMessage.value!.toString())"
            [disabled]="!message.text" fill="outline" size="small" color="tertiary"
          >
            Editar
          </ion-button>
          <ion-button (click)="closeEditForm()" fill="outline" size="small" color="danger">Cancelar</ion-button>
        </form>
      }
      </ion-item>
      }
    </ion-list>
  </ion-col>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-col>
      <form (ngSubmit)="sendMessage()">
        <ion-row class="ion-margin ion-align-items-end">
          <ion-col class="ion-align-self-stretch">
            <ion-input
              id="name"
              type="text"
              [formControl]="messageInput"
              placeholder="Escribe..."
              fill="solid"
            />
          </ion-col>
          <ion-col size="auto">
            <ion-button
              (click)="sendMessage()"
              [disabled]="!messageInput.valid "
            >
              Send
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin">
          <ion-button color="danger" (click)="deleteAllMessages()">
            Borrar Chat
          </ion-button>
        </ion-row>
      </form>
    </ion-col>
  </ion-toolbar>
</ion-footer>
